<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->
<agm-map [latitude]="lat" [longitude]="lng">
  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map>
<ul>
  <!--ng-containe permite agregar mas de una directiva a un elemento html-->
  <ng-container *ngFor="let lugar of lugares; let i = index">
  <!--ngStyle mostrar de un color las que esten activas ejemplo-->
  <!--ngClass mostrar de un color las que sean par-->
    <li [ngStyle]="{color:(lugar.active) ? 'green' : 'red'}" 
        [ngClass]="{numero_par:(i+1)%2 !==0}">{{lugar.nombre}}
    </li>
  </ng-container>
</ul>
<ul>
  <ng-container *ngFor="let person of people">
      <li *ngIf="person.edad <=18">{{ person.nombre }}</li>
  </ng-container>
  
</ul>