@import '~bootstrap/dist/css/bootstrap.min.css';
/* You can add global styles to this file, and also import other style files */
agm-map {
  height: 300px;
}
h2{
  display: flex;
  justify-content: center;
  background: antiquewhite;
}

.numero_par{
  background: #a6eef3;
}
.list{
  margin-top: 20px;
}