@import '~bootstrap/dist/css/bootstrap.min.css';
/* You can add global styles to this file, and also import other style files */

agm-map {
  height: 300px;
}
h2{
  background: #bce7bea3;
  padding: 8px 8px;
  border-radius: 5px;
  color: #6e6e6e;
}

.numero_par{
  background: #a6eef3;
}
.list{
  margin-top: 20px;
}
.contacto{
  margin: 100px 40px 0 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form{
  background-color: aliceblue;
  padding: 25px 28px;
}
.btn-primary
{
  background-color: #007bff4a;
}
.cancel{
  background-color: #e4fbe4;
  border-color: #8BC34A;
}
.botones{
  display: flex;
  justify-content: space-between;
  align-items: center;
}